{% extends 'base_lte.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load crispy_forms_tags %}


{% block title %}  تعديل فاتورة {% endblock title %}
{% block content_header %}
  تعديل فاتورة
  {{ object.invoice_number }}
  <br>
  {{ branch }} / {{ company }}

{% endblock %}
{% block content_right_active %}<a href="{% url 'invoice-detail' object.uid %}">عودة الى الفاتورة</a> {% endblock %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <form action="" method="post">{% csrf_token %}

        {{ form | crispy }}

        {#      {{ form.errors }}#}

        <table class="table">

          {% for form in formset.forms %}


            {% if forloop.first %}
              <thead>
              <tr>

                {% for field in form.visible_fields %}
                  <th>{{ field.label }}</th>
                {% endfor %}
              </tr>
              </thead>
            {% endif %}
          {% endfor %}


          {{ formset.management_form }}


          {% for form in formset.forms %}

            <tr class="formset_row">
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}

              <td>
                {% render_field form.material class="form-control" %}
                {{ form.material.errors }}
              </td>

              <td>

                {% render_field form.quantity class=" form-control" %}
                {{ form.quantity.errors }}
              </td>

              <td>
                {% render_field form.price class=" form-control" %}

                {{ form.price.errors }}

              </td>

              <td>
                {% render_field form.delivery_date class=" form-control" %}

                {{ form.delivery_date.errors }}
              </td>

              <td>
                {% render_field form.output_number class=" form-control" %}

                {{ form.output_number.errors }}
              </td>

              <td>

                {{ form.DELETE }}
                {{ form.DELETE.errors }}
              </td>
            </tr>

          {% endfor %}


        </table>
        <a href="#" class="btn btn-outline-secondary add-invoicedetail col-12">اضف مادة</a>

        <div class="form-row mt-1">
          <input type="submit" class="btn btn-success" value="حفظ"/>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}


{% block js %}

  {#  <script type="text/javascript" src="{% static 'js/datepickerquery.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.formset.1.2.2.js' %}"></script>




  <script type="text/html" id="invoicedetail-template">
    <tr id="invoicedetail-__prefix__" class="formset_row">
      <td>
        {% render_field formset.empty_form.material class="form-control" %}
        {{ formset.empty_form.material.errors }}
      </td>

      <td>
        {% render_field formset.empty_form.quantity class="form-control" %}
        {{ formset.empty_form.quantity.errors }}
      </td>

      <td>
        {% render_field formset.empty_form.price class="form-control" %}
        {{ formset.empty_form.price.errors }}


      </td>

      <td>
        {% render_field formset.empty_form.delivery_date class="form-control" %}
        {{ formset.empty_form.delivery_date.errors }}
      </td>

      <td>
        {% render_field formset.empty_form.output_number class="form-control" %}
        {{ formset.empty_form.output_number.errors }}
      </td>
    </tr>
  </script>


  <script>
    $(function () {
      $('.add-invoicedetail').click(function (e) {
        e.preventDefault();
        var count = parseInt($('#id_invoice_details-TOTAL_FORMS').attr('value'), 10);
        var tmplMarkup = $('#invoicedetail-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
        console.log(compiledTmpl);
        $('tbody').append(compiledTmpl);
        $('#id_invoice_details-TOTAL_FORMS').attr('value', count + 1);
      });

      /*.. $('body').on( "click", ".remove", function(e) {
         e.preventDefault();

         var count = parseInt($('#id_invoice_details-TOTAL_FORMS').attr('value'), 10);
         $('#id_invoice_details-TOTAL_FORMS').attr('value', count - 1);
         console.log(1)
         var x = $(this).closest(".formset_row").remove();
         console.log(x)
       });

       */
    });


  </script>

{% endblock js %}

