{% extends 'base_lte.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load crispy_forms_tags %}


{% block title %}  انشاء فاتورة {% endblock title %}
{% block content_header %}  انشاء فاتورة {% endblock %}
{% block content_right_active %} انشاء فاتورة{% endblock %}

{% block content %}

  <div class="col-md-4">
    <form action="" method="post">{% csrf_token %}

      {{ form }}

      <table class="table">

        {% for form in formset.forms %}


          {% if forloop.first %}
            <thead>
            <tr>

              {% for field in form.visible_fields %}
                <th>{{ field.label }}</th>
              {% endfor %}
            </tr>
            </thead>
          {% endif %}
        {% endfor %}


        {{ formset.management_form }}


        {% for form in formset.forms %}

          <tr class="formset_row">

            <td>

              {{ form.material }}
              {{ form.material.errors }}
            </td>

            <td>

              {{ form.quantity }}
              <p class="invalid-feedback text-danger">{{ form.quantity.errors }} </p>
            </td>

            <td>

              {{ form.price }}
              {{ form.price.errors }}

            </td>

            <td>

              {{ form.delivery_date }}
              {{ form.delivery_date.errors }}
            </td>

            <td>

              {{ form.output_number }}
              {{ form.output_number.errors }}
            </td>
          </tr>


        {% endfor %}


      </table>
      <a href="#" class="btn btn-outline-secondary add-invoicedetail col-12">add new</a>

      <input type="submit" value="Save"/>
    </form>
  </div>



{% endblock content %}


{% block js %}

  {#  <script type="text/javascript" src="{% static 'js/datepickerquery.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.formset.1.2.2.js' %}"></script>




  <script type="text/html" id="invoicedetail-template">
    <tr id="invoicedetail-__prefix__" class="formset_row">
      <td>
        {{ formset.empty_form.material }}
      </td>

      <td>
        {{ formset.empty_form.quantity }}
      </td>

      <td>
        {{ formset.empty_form.price }}


      </td>

      <td>
        {{ formset.empty_form.delivery_date }}
      </td>

      <td>
        {{ formset.empty_form.output_number }}
      </td>

      <td>
        <a class="remove" href="#">remove</a>
      </td>
    </tr>
  </script>


  <script>
    $(function () {
      $('.add-invoicedetail').click(function (e) {
        e.preventDefault();
        var count = parseInt($('#id_invoice_details-TOTAL_FORMS').attr('value'), 10);
        var tmplMarkup = $('#invoicedetail-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, 1)
        console.log(compiledTmpl);
        $('tbody').append(compiledTmpl);
        $('#id_invoice_details-TOTAL_FORMS').attr('value', count + 1);
      });

      /*.. $('body').on( "click", ".remove", function(e) {
         e.preventDefault();

         var count = parseInt($('#id_invoice_details-TOTAL_FORMS').attr('value'), 10);
         $('#id_invoice_details-TOTAL_FORMS').attr('value', count - 1);
         console.log(1)
         var x = $(this).closest(".formset_row").remove();
         console.log(x)
       });

       */
    });


  </script>

{% endblock js %}

