{% extends 'base_lte.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load crispy_forms_tags %}


{% block title %}  انشاء فاتورة {% endblock title %}
{% block content_header %}  انشاء فاتورة {% endblock %}
{% block content_right_active %} انشاء فاتورة{% endblock %}

{% block content %}


{#      <div class="card">#}
{#      <div class="card-body">#}
{#        <form method="post">{% csrf_token %}#}
{#          {{ form | crispy }}#}
{#          <input type="submit" value="اضافة">#}
{#          {{ formset.management_form }}#}
{##}
{#    {{ formset | crispy }}#}
{##}
{#          {% for f in formset %}#}
{#            {{ f }}#}
{##}
{#          {% endfor %}#}
{#        </form>#}
{#      </div>#}

{#<div class="col-md-4">#}
{#    <form action="" method="post">{% csrf_token %}#}
{#        {{ form.as_p }}#}
{##}
{#        <table class="table">#}
{#            {{ formset.management_form }}#}
{##}
{#            {% for form in formset.forms %}#}
{#                {% if forloop.first %}#}
{#                    <thead>#}
{#                    <tr>#}
{#                        {% for field in form.visible_fields %}#}
{#                            <th>{{ field.label }}</th>#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                    </thead>#}
{#                {% endif %}#}
{#                <tr class=" formset_row">#}
{#                    {% for field in form.visible_fields %}#}
{#                        <td>#}
                            {# Include the hidden fields in the form #}
{#                            {% if forloop.first %}#}
{#                                {% for hidden in form.hidden_fields %}#}
{#                                    {{ hidden }}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                            {{ field.errors.as_ul }}#}
{#                            {{ field }}#}
{#                        </td>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#        <input type="submit" value="Save"/>#}
{#    </form>#}
{#</div>#}

  {##}
  {#  <div class="card">#}
  {#    <form action="" method="post" class="form-group card-body">#}
  {#      {% csrf_token %}#}
  {##}
  {#      <legend>Parent</legend>#}
  {#      {% if messages %}#}
  {#        {{ messages }}#}
  {##}
  {#      {% endif %}#}

  {#    <form id="myForm" method="post" action="">#}
  {#      {% csrf_token %}#}
  {#            <fieldset>#}
  {##}
  {#              <legend>bill</legend>#}
  {#              <div>#}
  {#                {{ formset.management_form }}#}
  {#                {% for form in formset.forms %}#}
  {#                  {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}#}
  {#                  {{ form.errors }}#}
  {##}
  {#                  <div class="link-formset ">#}
  {#                    <div class="form-row">#}
  {##}
  {##}
  {#                      <div class="form-group col-md-4 mb-0">#}
  {#                        {{ form.qtn }}#}
  {#                      {{ form.price }}#}
  {#                       {{ form.delivery_date }}#}
  {#                       {{ form.output_number }}#}
  {#                      </div>#}
  <div class="col-md-4">
    <form action="" method="post">{% csrf_token %}

  <table class="table">
    {{ formset.management_form }}

    {{ form.material }}
   <div class="link-formset ">
    {% for form in formset.forms %}
      {% if forloop.first %}
        <thead>
        <tr>

          {% for field in form.visible_fields %}
            <th>{{ field.label }}</th>
          {% endfor %}
        </tr>
        </thead>
      {% endif %}
      <tr class=" formset_row">

        {% for field in form.visible_fields %}
          <td>
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            {% endif %}
            {{ field.errors.as_ul }}
            {{ field }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Save"/>
  </form>
  </div>

  {#                      <div class="form-group col-md-2 mb-0">#}
  {#                        {{ form.qtn }}#}
  {#                      </div>#}
  {##}
  {#                      <div class=" form-group col-md-2 mb-0">#}
  {#                        {{ form.price }}#}
  {##}
  {#                      </div>#}
  {##}
  {#                      <div class="form-group  col-md-2mb-0">#}
  {#                        {{ form.delivery_date }}#}
  {#                      </div>#}
  {##}
  {#                      <div class="form-group  col-md-2mb-0">#}
  {#                        {{ form.output_number }}#}
  {#                      </div>#}

  {#<input type="submit" value="Create Invoice">#}


{% endblock content %}


{% block js %}
  <script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
  {#  <script type="text/javascript" src="{% static 'js/datepickerquery.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'js/jquery.formset.1.2.2.js' %}"></script>

{% endblock js %}

