<!doctype html >
<html>
<head>
  <meta charset="utf-8">
  {#  <link href="invoice.css" media="print" rel="stylesheet">#}
  <title>Invoice</title>
  <meta name="description" content="Invoice demo sample">
  <meta name="author" content="Kozea">

  {#  <link rel="help" href="http://www.w3.org/TR/CSS21/tables.html#table-layout">#}
  {#  <link rel="help" href="http://www.w3.org/TR/CSS21/visuren.html#direction">#}
</head>

<body>
<h3>عرض سعر</h3>


<table class="my-table">
  <tr>
    <td> التاريخ:
      {{ invoice.created | date:"Y/m/d" }}</td>


    <td>رقم :
      {{ invoice.invoice_number }}</td>
  </tr>
</table>


<table class="my-table">
  <tr>
    <td> الفرع:
      {{ invoice.branch }}
    </td>

    <td>
      <b>
        اسم الشركة:

        {{ invoice.branch.company }}
      </b>
    </td>
  </tr>
</table>


<div class="row">
  <div class="col-12">
    <table class="table table-sm table-striped table-bordered test">
      <thead class="thead-dark">
      <tr>
        <th></th>


        <th>التاريخ</th>
        <th>رقم الاخراج</th>
        <th>السعر</th>
        <th>الكمية</th>
        <th>المادة</th>
        <th>اجمالي</th>


      </tr>
      </thead>
      <tbody>
      {{ invoice.invoicedetails_set.all }}
      {% for detail in invoice_details %}
        <tr>
          <td class="rownum"></td>


          <td class="number">{{ detail.delivery_date | date:"Y/m/d" }} </td>
          <td class="number">{{ detail.output_number }} </td>
          <td class="number">{{ detail.price.normalize }} </td>
          <td class="number">{{ detail.quantity }}</td>
          <td>{{ detail.material }}</td>
          <td class="number">{{ detail.total.normalize }} </td>

        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
      </tr>
      <tr>
        <br>
      </tr>
      {#      <tr class="top-line">#}
      {#        <td colspan="3"></td>#}
      {##}
      {#        <td class="number">{{ grand_total }} </td>#}
      {#        <td>المجموع</td>#}
      {#      </tr>#}
      </tfoot>
    </table>
  </div>

  <div class="row">
    <div class="col-12">
      <table id="total">
        <thead>
        <th>
          <b>
            المجموع النهائي
          </b>
        </th>
        </thead>
        <tbody>
        <tr>
          <td>
            <b>{{ grand_total.normalize }}
              دينار</b>
            <br>

            {{ grand_total_words }}
          </td>


        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


</body>
</html>
